  <div class="content-wrapper">
    <div class="page-header page-header-light">
      <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
          <h4>
            <i class="icon-arrow-left52 mr-2"></i>
            <span class="font-weight-semibold">
                Listado general de transacciones asociadas a Ventas
            </span>
            </h4>
          <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>


      </div>

      <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
          <div class="breadcrumb">
            <a href="index.html" class="breadcrumb-item"><i class="icon-cash mr-2"></i> {{ 'menu.dashboard' | translate }}</a>
            <a href="datatable_advanced.html" class="breadcrumb-item active">{{'menu.transactions' | translate}}</a>
            <!-- <span class="breadcrumb-item active">Advanced</span> -->
          </div>

          <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>


      </div>
    </div>
  </div>

  <div class="content-wrapper">

    <div class="content">
        <div class="card">
            <!-- <div class="card-header header-elements-inline">
                <div class="page-header-content header-elements-md-inline">
                    <div class="page-title d-flex">

                      <a href="#" class="header-elements-toggle text-default d-md-none"><i
                          class="icon-more"></i></a>
                    </div>

                    <div class="header-elements d-none">
                      <div class="d-flex justify-content-center">
                        <div class="input-group">
                          <span class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-calendar22"></i></span>
                          </span>
                          <input type="text" class="form-control daterange-basic"
                            value="01/01/2015 - 01/31/2015">
                        </div>
                      </div>
                    </div>
                  </div>
            </div> -->

            <!-- (keyup)='search($event.target.value)' -->
            <div class="card-header header-elements-inline row">
              <div class="col-lg-3">
                <input type="text" class="form-control input-sm" [(ngModel)]="userFilter.auth_code" placeholder="Search" />
              </div>
            </div>
            <table class="table datatable-selection-single">
                <thead>
                    <tr>
                        <th>Código de Autorización</th>
                        <th>Monto</th>
                        <th>Fecha Venta</th>
                        <th>Método de pago</th>
                        <th>estado</th>
                        <th>Método de pago</th>
                        <th class="text-center">Acciones</th>
                        <!--  -->
                      </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items | filterBy: userFilter">
                        <td>{{item.auth_code}}</td>
                        <td>{{item.amount}}</td>
                        <td>{{item.sale_date | date:'dd MMM yyyy'}}</td>
                        <td>{{item.sale_type.name}}</td>
                        <td><span class="badge badge-success">{{item.status.name}}</span></td>
                        <td>
                          {{item.sale_method.name}}
                        </td>
                        <td>
                            <div class="list-icons">
                                <div class="dropdown">
                                  <a href="#" class="list-icons-item" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                  </a>

                                  <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" class="dropdown-item">Edit</a>
                                    <a href="#" class="dropdown-item">Delete</a>
                                  </div>
                                </div>
                              </div>
                        </td>
                      </tr>

                </tbody>
              </table>




          </div>
    </div>

  </div>

