  <div class="content-wrapper">
    <div class="page-header page-header-light">
      <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
          <h4>
            <i class="icon-arrow-left52 mr-2"></i>
            <span class="font-weight-semibold">
                Listado general de transacciones asociadas a Ventas
            </span>
            </h4>
          <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>


      </div>

      <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
          <div class="breadcrumb">
            <a routerLink="/home" class="breadcrumb-item"><i class="icon-cash mr-2"></i> {{ 'menu.dashboard' | translate }}</a>
            <a routerLink="/transactions" class="breadcrumb-item active">{{'menu.transactions' | translate}}</a>
            <!-- <span class="breadcrumb-item active">Advanced</span> -->
          </div>
          <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="content-wrapper">

    <div class="content">





        <div class="card">
            <div class="card-header header-elements-inline row">
              <div class="col-lg-5">
                <input type="text" class="form-control input-sm"  [(ngModel)]="searchText"   placeholder="Search" />
              </div>

              <div class="header-elements col-lg-2 flex-row-reverse">
                  <a href="#collapse-icon" class="btn bg-teal-400 rounded-round" data-toggle="collapse">
                      <i class="icon-circle-down2"></i> Filter
                  </a>
              </div>
            </div>
            <div class="card-header header-elements-inline row collapse" id="collapse-icon">
                <div class="col-lg-3">
                  <label>{{'salesList.status' | translate}}</label>
                  <select class="custom-select" [(ngModel)]="status" (change)="filter()"  >
                    <option selected value="">Select Status</option>
                    <option *ngFor="let t of filterStatus"  [value]="t.id">{{t.name}}</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>{{'salesList.sale_method' | translate}}</label>
                  <select class="custom-select" [(ngModel)]="method" (change)="filter()"  >
                      <option selected value="">Select Method</option>
                      <option *ngFor="let t of filterSales_method" [value]="t.id">{{t.name}}</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Sales type</label>
                  <select class="custom-select" [(ngModel)]="type" (change)="filter()"  >
                      <option selected value="">Select Type</option>
                      <option *ngFor="let t of filterSales_type"  [value]="t.id">{{t.name}}</option>
                  </select>
                </div>
                <!-- <div class="col-lg-3">
                  <label>Status</label>
                  <div class="input-group" >
                    <span class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-calendar22"></i></span>
                    </span>
                  </div>
                </div> -->
            </div>

            <div class="card-header header-elements-inline row">
              <div class="col-lg-2 flex-row" style="color:#36a69a">
                  <i class="icon-stack3 mr-2"></i><b>{{totalItems}}</b> Sales found
              </div>
              <div class="col-lg-2 flex-row-reverse">
                    <select class="custom-select" (change)="totalPerPage($event.target.value)">
                        <option value="5">5</option>
                        <option value="10" selected>10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                      </select>
                </div>
            </div>
              <table class="table table-responsive datatable-selection-single">
                  <thead>
                      <tr>
                          <th>{{'salesList.code' | translate}}</th>
                          <th>{{'salesList.amount' | translate}}</th>
                          <th>{{'salesList.date' | translate}}</th>
                          <th>{{'salesList.paymentMethod' | translate}}</th>
                          <th>{{'salesList.sale_method' | translate}}</th>
                          <th>{{'salesList.status' | translate}}</th>
                          <th class="text-center">{{'salesList.action' | translate}}</th>
                          <!--  -->
                        </tr>
                  </thead>
                  <tbody>
                       <!-- For filter -->
                      <!--  -->
                      <tr *ngFor="let item of items | paginate: {  itemsPerPage: pageSize, currentPage: p, totalItems:totalItems } | grdFilter: {auth_code: searchText, amount:searchText, sale_date:searchText}; let i=index;  ">
                          <td>{{item.auth_code}}</td>
                          <td>{{item.amount}}</td>
                          <td>{{item.sale_date | date:'dd MMM yyyy'}}</td>
                          <td>{{item.sale_type.name}}</td>
                          <td>
                            {{item.sale_method.name}}
                          </td>
                          <td><span class="badge badge-success">{{item.status.name}}</span></td>

                          <td>
                              <div class="list-icons">
                                  <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                      <i class="icon-menu9"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                      <a href="#" class="dropdown-item">Edit</a>
                                      <a href="#" class="dropdown-item">Delete</a>
                                    </div>
                                  </div>
                                </div>
                          </td>
                        </tr>

                  </tbody>
              </table>

                <div class="mx-auto card-header header-elements-inline">
                  <pagination-controls (pageChange)="p = $event"
                  directionLinks="true"
                  autoHide="true"
                  responsive="true"
                  previousLabel="Anterior"
                  nextLabel="Siguiente"
                  screenReaderPaginationLabel="Pagination"
                  screenReaderPageLabel="page"
                  screenReaderCurrentLabel="You're on page"></pagination-controls>
                </div>




          </div>
    </div>

  </div>

