
<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

  <div class="sidebar-mobile-toggler text-center">
    <a href="#" class="sidebar-mobile-main-toggle">
      <i class="icon-arrow-left8"></i>
    </a>
    Navigation
    <a href="#" class="sidebar-mobile-expand">
      <i class="icon-screen-full"></i>
      <i class="icon-screen-normal"></i>
    </a>
  </div>


  <div class="sidebar-content">
    <div class="card card-sidebar-mobile">
      <ul class="nav nav-sidebar" data-nav-type="accordion">
         <!-- <li class="nav-item">
          <a routerLink="/home" class="nav-link" routerLinkActive="active">
            <i class="icon-home4"></i>
            <span>
                {{ 'menu.dashboard' | translate }}
            </span>
          </a>
        </li> -->

        <li class="nav-item nav-item-submenu">
          <a  routerLink="/home" class="nav-link" routerLinkActive="active">
            <i class="icon-home4"></i>
            <span>
              {{ 'menu.dashboard' | translate }}
            </span>
          </a>
          <ul class="nav nav-group-sub" data-submenu-title="Layouts">
            <li class="nav-item">
              <a routerLink="/home" class="nav-link" routerLinkActive="active">{{ 'menu.summary' | translate }}</a>
            </li>
          </ul>

        </li>
        <!-- <li class="nav-item">
          <a routerLink="/userprofile" class="nav-link" routerLinkActive="active">
            <i class="icon-home4"></i>
            <span>
                {{'menu.user-profile' | translate}}
            </span>
          </a>
        </li> -->
        <li class="nav-item">
            <a routerLink="/transactions" class="nav-link" routerLinkActive="active">
              <i class="icon-cash"></i>
              <span>
                {{'menu.transactions' | translate}}
              </span>
            </a>
          </li>
      </ul>
    </div>
  </div>
</div>